{
  presets: [
    [
      "@babel/preset-env",
      {
        useBuiltIns: "entry",
        targets: { browsers: [">0.25%", "not dead"] }
      }
    ],
    "@babel/preset-react"
  ],
  plugins: [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
